// Specific CSS for your home-page

h1 {
    text-align: center;
    padding-top: 142px;
    font-family: 'Shadows Into Light', cursive;
    color: #6930c3;
}

#loco {

}

.card-trip {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  
  .card-trip > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .card-trip h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-trip p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
  
  
  .card-trip .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 316px;
  }

  .card-trip {
      width: 316px;
      display: inline-block;
      margin-left: 100px;
      margin-bottom: 50px;
  }
  
  .card-trip-infos .card-trip-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }

  .banner {
    height: 361px;
    background-image: url("https://images.pexels.com/photos/1028637/pexels-photo-1028637.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    margin-bottom: 60px;
  }